In [1]:
import os
import pandas as pd 
import alpaca_trade_api as tradeapi 
from MCForecastTools import MCSimulation

In [2]:
from dotenv import load_dotenv
load_dotenv()

True

In [3]:
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")


alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [10]:
timeframe = "1D"

tickers = ["TSLA"]

start_date = pd.Timestamp("2019-05-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-05-01", tz="America/New_York").isoformat()

df_ticker = alpaca.get_barset(
    tickers,
    timeframe,
    start=start_date,
    end=end_date
).df

df_ticker.head(10)

                             TSLA
                             open      high       low    close    volume
2019-05-01 00:00:00-04:00  239.00  240.0000  231.5000  234.010  10324457
2019-05-02 00:00:00-04:00  245.52  247.1300  237.7200  244.080  14881930
2019-05-03 00:00:00-04:00  243.86  256.6100  243.4900  255.040  21063497
2019-05-06 00:00:00-04:00  250.10  258.3499  248.5000  255.335   9546203
2019-05-07 00:00:00-04:00  256.80  257.2100  245.1000  247.060   9542822
2019-05-08 00:00:00-04:00  246.94  250.5990  244.2000  244.760   5757805
2019-05-09 00:00:00-04:00  242.00  243.6800  236.9434  241.980   6455536
2019-05-10 00:00:00-04:00  239.75  241.9900  236.0200  239.510   6716345
2019-05-13 00:00:00-04:00  232.01  232.4700  224.5000  227.010  10159046
2019-05-14 00:00:00-04:00  229.30  234.5000  228.0000  232.120   6820595

In [11]:
MCthree_year = MCSimulation(
    portfolio_data = df_ticker,
    weights = [0.60, 0.40],
    num_simulation = 1000,
    num_trading_days = 3*252
)